<div class="container">
    <div class="row justify-content-center">


        <div class="col-lg-6 col-sm-3 col-12 align-self-center">
            <h2>Please tell us who you are</h2>
        </div>

        <div class="col-lg-6 col-sm-9 col-12">

            <form novalidate autocomplete="off">

                <div class="form-group">
                    <label for="email">Email</label>
                    <input class="form-control" id="email">
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control" type="password" id="password">
                </div>

                <div class="form-group">
                    <label for="confirm-password">Confirm Password</label>
                    <input class="form-control" type="password" id="confirm-password">
                </div>

                <div class="form-group">
                    <label for="country">Country</label>
                    <select class="form-control" id="country">
                        <option>Country #1</option>
                        <option>Country #2</option>
                        <option>Country #3</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="city">City</label>
                    <select class="form-control" id="city">
                        <option>City #1</option>
                        <option>City #2</option>
                        <option>City #3</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="zip-code">ZIP Code</label>
                    <select class="form-control" id="zip-code">
                        <option>ZIP Code #1</option>
                        <option>ZIP Code #2</option>
                        <option>ZIP Code #3</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary mt-4 float-right">Submit</button>

            </form>

        </div>


    </div>
</div>
